<div>
    <p style="        font-size: x-large;
        font-family: Cooper;
        align-self: center;
        text-align: center;
">Create you biography once. Paste job description. Download your resume adapted with automated tailoring rapport.</p>
</div>
@ViewBag.usersCount are already using the website.
