<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define Painter_TargetDir=$(var.Painter.TargetDir)?>
	<Product Id="BDE680F2-8184-4848-9C57-4BFA0CBD463D" Name="Painter" Language="1033" Version="1.0.0.0" Manufacturer="ISCALI" UpgradeCode="fbfe76ba-0553-47ce-9144-d1d2972a5a7b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <UIRef Id="WixUI_Minimal"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="PainterSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
		</Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Painter" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Painter"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="4D5A24F6-80AA-49F0-864E-7C9DC08A25A3">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Painter"
                  Description="My Application Description"
                  Target="[#Painter.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MyCompany\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="94499EFB-F311-4194-BF4F-99791B24D7DF">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Painter"
                  Description="My Application Description"
                  Target="[#Painter.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpDesktopShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MyCompany\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Painter.exe" Guid="0ec2e08d-552d-4594-a456-a2fa2c2c231c">
			  <File Id="Painter.exe" Name="Painter.exe" Source="$(var.Painter_TargetDir)Painter.exe" />
			</Component>
			<Component Id="Painter.exe.config" Guid="9cdd0ee2-4b23-449d-9c2f-84235cc0e19c">
			  <File Id="Painter.exe.config" Name="Painter.exe.config" Source="$(var.Painter_TargetDir)Painter.exe.config" />
			</Component>
			<Component Id="MahApps.Metro.dll" Guid="0d3c48fd-7a0a-424a-8d26-77c53686f85c">
			  <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.Painter_TargetDir)MahApps.Metro.dll" />
			</Component>
			<Component Id="ControlzEx.dll" Guid="4933310d-6372-4baa-89f1-76d3bef72d35">
			  <File Id="ControlzEx.dll" Name="ControlzEx.dll" Source="$(var.Painter_TargetDir)ControlzEx.dll" />
			</Component>
			<Component Id="Microsoft.Xaml.Behaviors.dll" Guid="084b8cfb-abb0-43d6-a40f-14799d85801b">
			  <File Id="Microsoft.Xaml.Behaviors.dll" Name="Microsoft.Xaml.Behaviors.dll" Source="$(var.Painter_TargetDir)Microsoft.Xaml.Behaviors.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
