<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="planning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="planning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <planning.Properties.Settings>
            <setting name="categoriesFile" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\1 categories.txt</value>
            </setting>
            <setting name="OneFree" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\4 one time free events.txt</value>
            </setting>
            <setting name="RecFree" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\5 recurrent free events.txt</value>
            </setting>
            <setting name="OneFixed" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\2 one time fixed events.txt</value>
            </setting>
            <setting name="RecFixed" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\3 recurrent fixed events.txt</value>
            </setting>
        </planning.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <planning.Properties.Settings>
            <setting name="outputpdf" serializeAs="String">
                <value>C:\Users\sbouguerra\Desktop\personnel\apps data\personal planner\plan.pdf</value>
            </setting>
        </planning.Properties.Settings>
    </userSettings>
</configuration>